/*------------------- small screen----------------*/
@media only screen and (min-width: 360px) and (max-width: 600px) {
    * {
        padding: 0px;
        margin: 0px;
        background: rgb(208, 43, 43) ;
    }

    #container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 10vh 60vh 20vh 10vh;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "hd"
        "mn"
        "sd"
        "ft"
        ;
    }
/*___________header_________________*/
        #hd {
            grid-area: hd;
            background: darkgray;
            display: flex;
        }
        
        #nav {
            display: flex;
            align-items: center;
        }

        #search {
            display: flex;
            align-items: center;
        }
        .navbar__list {
            display: flex;
            color: #fff;
            list-style: none;
            font-size: 20px;
            justify-content: center;
            align-items: center;
        }

        .navbar__list li{
            margin: 8px;
        }

        #nav {
             flex: 9;
        }

        #search {
            flex: 3;
        }
/*______________main___________________*/
        #mn {
            grid-area: mn;
            background: rgb(159, 43, 43);
        }
    
        #sd {
            grid-area: sd;
            background: rgb(31, 141, 79);
        }
    
        #ft {
            grid-area: ft;
            background: darkgray;
        }

}




/*------------------- medium screen----------------*/
@media only screen and (min-width: 601px) and (max-width: 800px) {
    * {
        padding: 0px;
        margin: 0px;
        background: rgb(43, 208, 57) ;
    }

    #container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 10vh 80vh 10vh;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "hd hd"
        "mn sd"
        "ft ft"
        ;
    }

        #hd {
            grid-area: hd;
            background: darkgray;
        }
    
        #mn {
            grid-area: mn;
            background: rgb(159, 43, 43);
        }
    
        #sd {
            grid-area: sd;
            background: rgb(31, 141, 79);
        }
    
        #ft {
            grid-area: ft;
            background: darkgray;
        }
}







/*------------------- large screen----------------*/
@media only screen and (min-width: 801px) {
    * {
        padding: 0px;
        margin: 0px;
        background: rgb(235, 238, 71) ;
    }

    #container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 10vh 80vh 10vh;
        grid-template-columns: 5fr 2fr;
        grid-template-areas: 
        "hd hd"
        "mn sd"
        "ft ft"
        ;
    }

        #hd {
            grid-area: hd;
            background: darkgray;
        }
    
        #mn {
            grid-area: mn;
            background: rgb(159, 43, 43);
        }
    
        #sd {
            grid-area: sd;
            background: rgb(31, 141, 79);
        }
    
        #ft {
            grid-area: ft;
            background: darkgray;
        }
}