/*------------------- small screen----------------*/
@media only screen and (min-width: 360px) and (max-width: 600px) {
    * {
        padding: 0px;
        margin: 0px;
        background: rgb(208, 43, 43) ;
    }
}




/*------------------- medium screen----------------*/
@media only screen and (min-width: 601px) and (max-width: 800px) {
    * {
        padding: 0px;
        margin: 0px;
        background: rgb(43, 208, 57) ;
    }
}







/*------------------- large screen----------------*/
@media only screen and (min-width: 801px) {
    * {
        padding: 0px;
        margin: 0px;
        background: rgb(235, 238, 71) ;
    }
}